.circle-boards-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    direction:ltr;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.circle-boards {
    height: 100%;
    display: flex;
}
