.new-post {
    padding: 13px;
    background-color: #ffffff;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    resize: none;
    margin-bottom: 20px;
    max-height: 70vh;
}

.new-post-avatar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.new-post-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.new-post-user-info {
    display: flex;
    align-items: center;
}

.new-post-name {
    margin: 0 10px;
    font-size: large;
    font-weight: bold;
}

/* Text Area */

.new-post-text-box-container {
    position: relative;
}

.new-post-text-box {
    margin-top: 10px;
    margin-bottom: 6px;
    width: 100%;
    min-height: 20vh;
    max-height: 40vh;
    border-radius: 5px;
    border: 1px #e0e0e0 solid;
    resize: vertical;
    padding: 10px 20px 10px 10px;
}

.new-post-text-box:focus {
    outline: none !important;
    border: 1px #b4b4b4 solid;
}

.new-post-attachment-button {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 20px;
    cursor: pointer;
}

.new-post-circles-dropdown-wrapper {
    display: flex;
    align-items: center;
}

.new-post-circles-dropdown-question {
    padding-left: 5px;
    padding-top: -5px;
}

.new-post-btns {
    display: flex;
    justify-content: flex-end;
}

.new-post-post-btn {
    margin-top: 10px;
    padding: 10px 12px;
    font-weight: bold;
    font-size: medium;
    background-color: #E05140;
    color: white;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

.new-post-post-btn-invalid {
    background-color: #767676;
    cursor: none;
    pointer-events: none;
    user-select: none;
}

.new-post-post-btn-loading {
    cursor: wait;
}

/* Reshare Preview */

.new-post-reshared-info-wrapper {
    display: flex;
}

.new-post-reshared-info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 5px;
}

.new-post-reshare-delete {
    font-size: x-large;
    cursor: pointer;
}

.new-post-reshare-preview {
    border: #f0f0f0 solid 1px;
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.new-post-resharable {
    margin-top: 10px;
}

@media only screen and (max-width: 750px) {
    .new-post {
        width: 0;
        padding: 0;
        margin: 0;
    }

    .new-post-avatar {
        width: 0;
        height: 0;
        flex-shrink: 1;
    }
}





