.draggable-card-grid-container {
    padding: 0 50px;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    position: absolute;
    top: 5em;
    width: 100%;
    left: 0;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
