.settings-wrapper {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.settings-row {
    width: 60%;
    padding: 12px;
    border-radius: 2px;
}

.settings-row:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.settings-row-header {
    font-size: 16px;
    font-weight: bold;
}

.settings-row-content {
    margin-top: 4px;
    color: #555555;
}

/* TODO: this is shared among all the settings modals*/
.settings-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* TODO: this is shared among all the settings modals*/
.settings-controls-button {
    padding: 8px 10px;
    font-weight: bold;
    font-size: medium;
    color: white;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    margin-right: 20px;
}

.settings-display-name {
    font-size: x-large;
    font-weight: bold;
    border-color: black;
    border-width: 0 0 2px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings-email {
    font-size: x-large;
    font-weight: bold;
    border-color: black;
    border-width: 0 0 2px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings-display-name-button-cancel {
    background-color: #727272;
}

.settings-display-name-button-confirm {
    background-color: #E05140;
}

.settings-email-button-cancel {
    background-color: #727272;
}

.settings-email-button-confirm {
    background-color: #E05140;
}

.settings-email-button-confirm-disabled {
    background-color: #727272;
    cursor: default;
}

.settings-rss-url {
    padding: 12px;
    background: #eeeded;
}

/* Mobile */
@media only screen and (max-width: 750px) {
    .settings-wrapper {
        height: 100vh;
        margin-top: 0;
    }

    .settings-row {
        min-width: 0;
        width: 100%;
    }
}
