.add-new-circle-button-wrapper {
    flex-shrink: 0;
    margin: 20px 20px;
}

.add-new-circle-button {
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    color: white;
    background-color: #000000;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-new-circle-button:hover {
    background-color: #e0e0e0;
    -webkit-animation: color-change-2x 0.5s ease-in  both;
    animation: color-change-2x 0.5s ease-in both;
}

.add-new-circle-name-input {
    width: 240px;
    height: 3em;
    padding: 1em;
    border-width: 1px;
    border-radius: 4px;
    border-color: #86989B;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-content-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Modal Button */
.modal-content-button {
    padding: 8px 10px;
    font-weight: bold;
    font-size: medium;
    color: white;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    margin-right: 20px;
}

.confirm {
    background-color: #E05140;
}

.cancel {
    background-color: #767676;
    margin-right: 30px;
}

/* Mobile */
@media only screen and (max-width: 750px) {
    .add-new-circle-button {
        width: 150px;
        height: 150px;
        margin-bottom: 28px;
        font-size: larger;
    }
}

/* Animation */
@-webkit-keyframes color-change-2x {
    0% {
        background: #000000;
    }
    100% {
        background: #E05140;
    }
}
@keyframes color-change-2x {
    0% {
        background: #000000;
    }
    100% {
        background: #E05140;
    }
}
