.home-wrapper {
    display: flex;
    padding: 5em 50px 0 50px;
}

.home-posts-wrapper {
    width: 60%;
    min-width: 400px;
    max-width: 1000px;
}

.home-right-column-container {
    margin-left: 20px;
    flex: 1;
    min-width: 200px;
    max-width: 400px;
}

.home-right-column-container {
    position: -webkit-sticky;
    position: sticky;
    top: 5em;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.home-status {
    padding: 13px;
    background-color: #ffffff;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    margin-bottom: 20px;
    min-width: 500px;
}

@media only screen and (max-width: 750px) {
    .post-wrapper {
        width: 100%;
    }

    .home-right-column-container {
        display: none;
        visibility: hidden;
        min-width: 0;
        max-width: 0;
    }


    .home-posts-wrapper {
        width: 100%;
        min-width: 200px;
    }
}

