.link-previews {
    max-height: 500px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.link-previews::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.link-previews {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
