.post-nested-comment {
    display: flex;
    margin-bottom: 3px;
}

.highlight-comment {
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
}

.post-nested-comment-avatar {
    height: 25px;
    width: 25px;
    flex-shrink: 0;
}

.post-nested-comment-name {
    font-size: small;
    font-weight: bold;
    margin: 3px 0 0 10px;
}

.post-nested-comment-content {
    overflow-wrap: break-word;
    flex: 1;
    min-width: 0;
    margin-top: 3px;
    white-space: pre-line;
}

.post-nested-comment-time {
    font-size: smaller;
    color: #767676;
    margin-left: 10px;
}

.post-nested-comment-reply-btn {
    margin-left: 10px;
    font-size: smaller;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.post-nested-comment-reply-btn:hover {
    background-color: #e7e7e7;
}

.post-nested-comment-delete-btn {
    margin-left: 10px;
    font-size: smaller;
    background-color: pink;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.post-nested-comment-delete-btn:hover {
    background-color: lightpink;
}
