.post-wrapper {
    padding: 13px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    margin-bottom: 20px;
    width: 100%;
}

/*Post Info*/

.post-avatar {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.post-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post-op-info-wrapper {
    display: flex;
    justify-content: space-between;
}

.post-op-info-wrapper > * {
    display: flex;
    align-items: center;
}

.post-op-info-time {
    color: #767676;
    cursor: pointer;
}

.post-name {
    margin: 0 10px;
    font-size: large;
    font-weight: bold;
}

.post-visibility {
    font-size: larger;
    font-weight: bold;
    color: cornflowerblue;
}

.post-time {
    font-size: smaller;
    color: #767676;
}

/*Post Content*/
.post-content-wrapper {
}

.post-content {
    overflow-wrap: break-word;
    white-space: pre-line;
    margin: 15px 0;
}

.post-content-summary {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Reactions*/

.post-reactions-wrapper {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
}

.post-reaction {
    padding: 2px 8px;
    margin-right: 5px;
    margin-top: 3px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: #f0f0f0 1px solid;
    font-weight: bold;
    font-size: small;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-reaction:hover {
    background-color: #e7e7e7;
}

.post-reaction-active {
    background-color: #e0f4ff;
    border: #9dd0ff 1px solid;
}

.post-reaction-active:hover {
    background-color: #e0f4ff;
}

.post-emoji {
    font-size: large;
}

/*Post Interactions*/

.post-interactions-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post-interactions {
    display: flex;
}

.post-circle-button {
    margin-left: 12px;
    background-color: #f0f0f0;
    color: #767676;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    padding: 7px;
    cursor: pointer;
}

.post-circle-button:hover {
    background-color: #e7e7e7;
}

/*Comments*/

.post-comments-wrapper {
    margin-top: 10px;
}

.post-comment-info {
    display: flex;
    align-items: center;
}

.post-comment {
    display: flex;
    padding: 3px 0;
}

.highlight-comment {
    background: #f0f0f0;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
}

.post-comment-name {
    font-size: medium;
}

.post-comment-avatar {
    width: 35px;
    height: 35px;
}

.post-comment-main-content {
    flex: 1;
    min-width: 0;
}

.comment-content {
    margin: 0 0 2px 10px;
    max-width: 100%;
}

.post-comment-reply-btn {
    margin-left: 10px;
    font-size: smaller;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.post-comment-reply-btn:hover {
    background-color: #e7e7e7;
}

.post-comment-delete-btn {
    margin-left: 10px;
    font-size: smaller;
    background-color: pink;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.post-comment-delete-btn:hover {
    background-color: lightpink;
}

/*Nested Comment*/

.post-nested-comment-wrapper {
    margin-top: 3px;
}

.post-nested-comment-avatar {
    height: 25px;
    width: 25px;
}

.post-nested-comment {
    display: flex;
    margin-bottom: 3px;
}

.nested-comment-name {
    font-size: small;
    margin-right: 0;
    margin-top: 3px;
}

.post-nested-comment-content {
    overflow-wrap: break-word;
    flex: 1;
    min-width: 0;
    margin-top: 3px;
    white-space: pre-line;
}

.post-nested-comment-time {
    margin-left: 10px;
}

/*Comment Box*/

.post-comment-box-wrapper {
    margin-top: 20px;
    padding-top: 5px;
}

.post-comment-box-input-area {
    display: flex;
}

#post-comment-box-input {
    border: none;
    flex: 1;
    resize: none;
    margin-left: 10px;
    margin-top: 5px;
    height: auto;
}

#post-comment-box-input:focus {
    outline: none !important;
}

.post-comment-box-buttons {
    display: flex;
    justify-content: flex-end;
}

.post-comment-box-post-button {
    padding: 5px 8px;
    font-weight: bold;
    font-size: small;
    background-color: #E05140;
    color: white;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

.post-comment-box-post-button-invalid {
    background-color: #767676;
    cursor: none;
    pointer-events: none;
    user-select: none;
}

/*Emoji Picker*/

#post-reaction-emoji-picker-wrapper {
    position: relative;
    width: 0;
    height: 0;
    z-index: 3;
}

.post-reaction-emoji-picker {
    position: absolute;
    top: 10px;
}

/* Reshare */

.post-reshared-wrapper {
    border: #e0e0e0 solid 1px;
    margin: -10px 0 10px 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.post-reshared-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post-reshared-avatar {
    width: 40px;
    height: 40px;
}

.post-reshared-author {
    margin-left: 10px;
    font-weight: bold;
    font-size: larger;
}

/*Animation*/

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-25 20:27:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 750px) {
    .post-wrapper {
        border-radius: 0;
        margin-bottom: 2px;
    }
}

.post-media {
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.post-media-img {
    object-fit: contain;
    width: 100%;
    height: 600px;
}
