.faq-semantic-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.mobile-nav-bar-wrapper {
}

.mobile-nav-bar-container {
    position: fixed;
    background-color: #0c0c0c;
    width: 100%;
    bottom: 0;
    display: flex;
    z-index: 3;
    padding-bottom: env(safe-area-inset-bottom);
}

.mobile-nav-bar-button-container {
    width: 25%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav-bar-button-container:hover {
    cursor: pointer;
}

.mobile-nav-bar-button-active {
    background-color: #262626;
    border-radius: 5px;
}

.mobile-nav-bar-button-container>svg {
    width: 22px;
    height: 40px;
    color: white;
}

.mobile-nav-bar-notification-indicator-wrapper {
    position: relative;
    width: 0;
    height: 0;
    bottom: 14px;
    left: 24px;
}

.mobile-nav-bar-notification-indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff6969;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 750px) {
    .faq-semantic-container {
        width: 100%;
        padding-bottom: calc(50px + env(safe-area-inset-bottom));;
    }
}


