.media-nav-buttons {
    display: flex;
    justify-content: space-evenly;
}

.media-nav-button {
    display: flex;
    background-color: #f0f0f0;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 6px;
}

.media-nav-button:hover {
    cursor: pointer;
}

.media-nav-button-icon {
    width: 30px;
    padding: 5px;
    color: #505050;
}
