.dropdown-menu-container {
    position: relative;
    margin-right: 8px;
}

.dropdown-menu {
    color: #e58181;
    border-radius: 4px;
    position: absolute;
    border: 1px solid #e0e0e0;
    right: 0;
    width: 100px;
    padding: 6px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-menu:hover {
    background-color: #f0f0f0;
}

.dropdown-menu-active {
    opacity: 1;
    visibility: visible;
}
