.user-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    width: 60%;
    min-width: 600px;
    max-width: 1000px;
    margin: 3em auto 20px auto;
    padding-bottom: 20px;
}

.user-profile-banner-wrapper {
    width: 100%;
    height: 250px;
    background-color: #9dd0ff;
    /*background-image: url("../../img/favicon.png") ;*/
    background-size: 100px;
}

.user-profile-avatar-wrapper {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-top: -60px;
}

.user-profile-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: white 3px solid;
}

.user-profile-user-name {
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
}

.user-profile-info-button {
    margin-top: 20px;
    padding: 8px 10px;
    font-weight: bold;
    font-size: medium;
    background-color: #E05140;
    color: white;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

.user-profile-info-button-disabled {
    cursor: not-allowed;
    background-color: lightgray;
}

.user-profile-posts {
    width: 60%;
    min-width: 600px;
    max-width: 1000px;
}

.user-profile-status {
    padding: 13px;
    background-color: #ffffff;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    margin-bottom: 20px;
    min-width: 500px;
}

@media only screen and (max-width: 750px) {
    .user-profile-user-info {
        min-width: 0;
        width: 100%;
        margin: 0 0 2px;
    }

    .user-profile-posts {
        min-width: 0;
        width: 100%;
        margin-bottom: 50px;
    }

}

.profile-load-more {
    padding: 13px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px #e0e0e0;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: cornflowerblue;
}

.profile-load-more:hover {
    color: #0d71bb;
}
