/* Media Pane */
.media-pane {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.media-img-container {
    flex-grow: 1;
    flex-basis: 0;
    margin: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.media-img {
    object-fit: cover;
    width: 100%;
    border-radius: 4px;
}

.media-op-container {
    display: flex;
}

.media-op {
    flex-grow: 1;
    flex-basis: 0;
    padding: 2px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: small;
    text-align: center;
    cursor: pointer;
}
