.add-media-tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.add-media-tab {
    margin-right: 12px;
    padding: 6px;
    color: #838383;
    background-color: #f0f0f0;
    border-radius: 2px;
}

.add-media-tab:hover {
    cursor: pointer;
}

.add-media-tab-selected {
    color: #0d71bb;
}
