.add-media-tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.add-media-tab {
    margin-right: 12px;
    padding: 6px;
    color: #838383;
    font-weight: bold;
}

.add-media-tab:hover {
    cursor: pointer;
}

.add-media-tab-selected {
    color: #0d71bb;
    border-bottom: 2px solid #0d71bb;
}
