.my-media-set-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.my-media-set-button {
    padding: 8px 10px;
    font-weight: bold;
    font-size: medium;
    color: white;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    margin-right: 20px;
    background-color: #727272;
}

.my-media-set-button-danger {
    background-color: #E05140;
}

.my-media-set-button-confirm {
    background-color: #0d71bb;
}
