.settings-avatar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings-avatar-placeholder {
    background-color: #f0f0f0;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: #838383;
    font-size: xx-large;
    border-radius: 4px;
}

.settings-avatar-button-cancel {
    background-color: #727272;
}

.settings-avatar-button-upload {
    background-color: #0d71bb;
}

.settings-avatar-button-confirm {
    background-color: #E05140;
}

.settings-avatar-send-post-checkbox {
    margin-left: 10px;
}

.settings-avatar-send-post-checkbox-label {
    margin-left: 5px;
    cursor: pointer;
}
